<!-- <div class="grid-container">
  <div class="col-12 xl:col-8 content-1">Nội dung cột 8</div>
  <div class="col-12 xl:col-4 content-2">Nội dung cột 4</div>
</div> -->

<div class="layout-content-wrapper">
  <div class="flex flex-column p-3">
    <div class="card shadow-2 col-12 p-3 mt-2">
      <app-menu></app-menu>
    </div>
    <!-- <p-button label="Dark Indigo" (click)="onUpdateTheme('md-dark-indigo')" />
  <p-button label="Saga Blue" (click)="onUpdateTheme('saga-blue')" />
  <p-button label="Saga Green" (click)="onUpdateTheme('saga-green')" />
  <p-button label="Saga Orange" (click)="onUpdateTheme('saga-orange')" />
  <p-button label="Saga Purple" (click)="onUpdateTheme('saga-purple')" />
  <p-button label="Lara-dark-teal" (click)="onUpdateTheme('lara-dark-teal')" />
  <p-button label="luna-pink" (click)="onUpdateTheme('luna-pink')" /> -->
    <div class="layout-content">
      <div class="grid">
        <!-- <div class="col-12 xl:col-8">
        <div class="grid">
          <div class="col-12 md:col-12 xl:col-4">
            <div
              class="overview-card surface-card py-3 px-4 shadow-1 border-round-md h-full"
            >
              A
            </div>
          </div>
          <div class="col-12 md:col-12 xl:col-4">
            <div
              class="overview-card surface-card py-3 px-4 shadow-1 border-round-md h-full"
            >
              A
            </div>
          </div>
          <div class="col-12 md:col-12 xl:col-4">
            <div
              class="overview-card surface-card py-3 px-4 shadow-1 border-round-md h-full"
            >
              A
            </div>
          </div>
          <div class="col-12 md:col-12 xl:col-12">
            <div class="card">
              <div style="width: 100%">
                <app-line-chart></app-line-chart>
              </div>
            </div>
          </div>
        </div>
      </div> -->
        <!-- <div class="card shadow-2 mb-0">
            <div style="width: 100%"> -->

        <!-- </div>
          </div> -->
        <div style="width: 100%">
          <app-statistical></app-statistical>
        </div>
        <div
          class="col-12 xl:col-8 animation-duration-1000 animation-ease-in-out"
          pAnimateOnScroll
          enterClass="fadeinleft"
          leaveClass="fadeoutleft"
        >
          <div id="chart-column-and-pipe">
            <div class="card shadow-2" style="margin-bottom: 2rem">
              <div style="width: 100%">
                <!-- <app-line-chart></app-line-chart> -->
                <app-column-chart></app-column-chart>
              </div>
            </div>
            <div class="card shadow-2">
              <div style="width: 100%">
                <app-pie-chart
                  (onCreateMoodEmit)="showDialog()"
                ></app-pie-chart>
                <!-- <app-half-doughnut></app-half-doughnut> -->
              </div>
            </div>
          </div>
        </div>
        <div
          class="col-12 xl:col-4 animation-duration-1000 animation-ease-in-out"
          style="padding-left: 0 !important; padding-right: 0 !important"
          pAnimateOnScroll
          enterClass="fadeinright"
          leaveClass="fadeoutright"
        >
          <div class="flex flex-column gap-3">
            <div class="flex justify-content-between align-items-center px-3">
              <div class="text-xl font-bold">History Mood Daily</div>
              <div>
                <p-button
                  label="Create mood"
                  (onClick)="showDialog()"
                  icon="pi pi-plus"
                />
              </div>
            </div>
            <app-history></app-history>
          </div>
        </div>
      </div>
    </div>

    <p-dialog
      header="Mood daily"
      [modal]="true"
      [(visible)]="visibleMoodPopup"
      [style]="styleMoodPopup"
    >
      <app-mood-form (close)="closeDialog()"></app-mood-form>
    </p-dialog>
  </div>
</div>

<p-toast />

<div
  pTooltip="Create mood"
  tooltipPosition="left"
  class="shake-button"
  style="position: fixed; bottom: 15px; right: 15px"
>
  @if(!isHasDataToday) {
  <p-button
    (onClick)="showDialog()"
    icon="pi pi-plus"
    size="large"
    [rounded]="true"
  />
  }
</div>
