<div class="flex flex-wrap gap-3 pie-chart">
  <div class="flex justify-content-center align-items-center chart">
    <div class="chart-container" style="position: relative">
      <div style="position: absolute; width: 100%; top: 30px">
        <div class="flex flex-column justify-content-center gap-1">
          <div class="text-center text-xl font-bold">Mood Tracker Journal</div>
          <div class="text-center">Your mood parameters for today.</div>
        </div>
      </div>
      <canvas id="pipeChart" style="width: 100%; height: 50%">{{
        chart
      }}</canvas>

      <div
        id="rotateBox"
        class="needle {{ 'rotate-box-' + statusToday?.value }}"
        style="
          position: absolute;
          left: calc(50% - 12px);
          top: 75%;
          width: 2px;
          height: 50%;
          rotate: inherit;
          transform-origin: top left;
          border-left: 50px solid transparent;
          width: 0;
          height: 0%;
          border-left: 0px solid transparent;
          border-right: 150px solid transparent;
          border-top: 15px solid red;
        "
      ></div>
      <!-- [style.transform]="
    'rotate(' + (202 + 36 * (statusToday?.value - 1)) + 'deg)'
  " -->
      <div
        style="
          position: absolute;
          left: 50%;
          top: 75%;
          width: 40px;
          height: 40px;
          background-color: red;
          transform-origin: center;
          transform: translate(-50%, -50%);
          border-radius: 50%;
        "
      ></div>
      <div
        class="flex flex-wrap gap-3 justify-content-center align-items-center"
        style="position: absolute; bottom: 0px; width: 100%"
      >
        @for (item of moodList; track item) {
        <div class="flex gap-1">
          <!-- <img width="30px" src="{{ item?.url }}" /> -->
          <div>
            <span
              class="shadow-2"
              style="padding: 0px 8px; border: 16px"
              [style.background-color]="item?.color"
            ></span>
          </div>

          <div>{{ item?.nameCase }}</div>
        </div>
        }
      </div>
    </div>
  </div>

  <div class="info">
    <div class="flex flex-column gap-2">
      <p-fieldset legend="How are you feeling today?">
        <div class="flex gap-2">
          <!-- <div
            pRipple
            class="card shadow-2 p-2 flex gap-2 align-items-center cursor-pointer mb-0"
            style="width: 100px"
            [style.background-color]="statusToday?.backgroundSelected"
          >
            <img width="25px" src="{{ statusToday?.url }}" />
            <div>{{ statusToday?.name }}</div>
          </div> -->
          <div>
            <p class="m-0">
              <span
                class="shadow-2"
                style="padding: 0px 8px; margin-right: 8px; border: 16px"
                [style.background-color]="statusToday?.color"
              ></span>
              {{ dailyStatus }} 🌱
            </p>
          </div>
        </div>
      </p-fieldset>

      <p-fieldset legend="Mood trend over the past 7 days:">
        <div class="flex flex-column gap-2">
          <p class="m-0">
            <i
              class="pi pi-chart-line"
              style="
                font-size: 1.25rem;
                color: var(--primary-color);
                margin-right: 5px;
              "
            ></i>
            {{ weeklyStatus }}
          </p>
          <div class="flex justify-content-end">
            Evaluate:
            <p-rating
              [(ngModel)]="ratingLast7Days"
              [readonly]="true"
              [cancel]="false"
            />
          </div>
        </div>
      </p-fieldset>

      <p-fieldset legend="Suggestions to boost your mood:">
        <div class="flex flex-column">
          @for (item of suggestions; track item; let idx = $index) {
          <div>{{ $index + 1 }}. {{ item }}</div>
          }
          <!-- <div>
            1. Relax your body: Try deep breathing or 10 minutes of yoga. 🧘
          </div>
          <div>2. Connect with others: Call a friend or family member. 📞</div>
          <div>3. Get outdoors: Go for a walk or spend time in nature. 🌳</div>
          <div>
            4. Capture small joys: Write down 3 positive things from today. 📓
          </div> -->
          <a class="text-right text-xs font-italic mt-3">
            <span
              class="cursor-pointer"
              style="color: var(--primary-color)"
              (click)="onCommingSoon()"
            >
              <!-- (click)="op.toggle($event)" -->
              View more
            </span>
          </a>
          <p-overlayPanel #op>
            <div class="flex flex-column gap-3 w-6rem">Coming soon</div>
          </p-overlayPanel>
        </div>
      </p-fieldset>
    </div>
  </div>
</div>

<!-- <p-chart id="pipe-chart" type="doughnut" [data]="data" [options]="config" /> -->
<!-- <div
    style="
      position: absolute;
      left: calc(55% - 108px);
      top: calc(75% - 86px);
      width: 30px;
      height: 30px;
      transform-origin: center;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      z-index: 1;
    "
  >
    <img width="180px" src="assets/icon/happy.svg" />
  </div> -->

<p-toast />
