.item-history {
    transition: transform 0.3s;
}
.item-history:hover {
    transform: scale(1.05);
}

@media screen and (max-width: 1200px) {
    .item-history:hover {
        transform: scale(1.02);
    }
}
