<!-- <div class="card">
  <p-meterGroup [value]="value" labelPosition="start">
    <ng-template pTemplate="label">
      <div class="flex flex-wrap gap-3">
        <ng-container *ngFor="let meterItem of value; let index = index">
          <p-card class="flex-1">
            <div class="flex justify-content-between gap-5">
              <div class="flex flex-column gap-1">
                <span class="text-secondary text-sm">{{
                  meterItem.label
                }}</span>
                <span class="font-bold text-lg">{{ meterItem.value }}%</span>
              </div>
              <span
                class="w-2rem h-2rem border-circle inline-flex justify-content-center align-items-center text-center"
                [style]="{
                  'background-color': meterItem.color1,
                  color: '#ffffff'
                }"
              >
                <i [class]="meterItem.icon"></i>
              </span>
            </div>
          </p-card>
        </ng-container>
      </div>
    </ng-template>
    <ng-template pTemplate="meter" let-value let-class="class" let-width="size">
      <span
        [class]="class"
        [style]="{
          background:
            'linear-gradient(to right, ' +
            value.color1 +
            ', ' +
            value.color2 +
            ')',
          width: width
        }"
      ></span>
    </ng-template>
    <ng-template pTemplate="start" let-totalPercent="totalPercent">
      <div class="flex justify-content-between mt-3 mb-2 relative">
        <span>Storage</span>
        <span
          [style]="{ width: totalPercent + '%' }"
          class="absolute text-right"
          >{{ totalPercent }}%</span
        >
        <span class="font-medium">1TB</span>
      </div>
    </ng-template>
    <ng-template pTemplate="end">
      <div class="flex justify-content-between mt-3">
        <p-button label="Manage Storage" [outlined]="true" size="small" />
        <p-button label="Update Plan" size="small" />
      </div>
    </ng-template>
  </p-meterGroup>
</div> -->

<!-- <div class="flex flex-wrap gap-3 justify-content-between">
  <ng-container *ngFor="let meterItem of value; let index = index">
    <p-card class="flex-1">
      <div class="flex justify-content-between gap-5">
        <div class="flex flex-column gap-1">
          <span class="text-secondary text-sm">{{ meterItem.label }}</span>
          <span class="font-bold text-lg">{{ meterItem.value }}%</span>
        </div>
        <span
          class="w-2rem h-2rem border-circle inline-flex justify-content-center align-items-center text-center"
          [style]="{
            'background-color': meterItem.color1,
            color: '#ffffff'
          }"
        >
          <i [class]="meterItem.icon"></i>
        </span>
      </div>
    </p-card>
  </ng-container>
</div> -->

<div class="grid">
  <!-- <div class="col-12 xl:col-4">A</div>
  <div class="col-12 xl:col-4">B</div>
  <div class="col-12 xl:col-4">C</div> -->

  <ng-container *ngFor="let meterItem of value; let index = index">
    <div
      pAnimateOnScroll
      enterClass="flipleft"
      leaveClass="fadeout"
      class="col-12 md:col-4 xl:col-4 animation-duration-1000 animation-ease-in-out"
    >
      <!-- <p-card class="flex-1">
        <div class="flex justify-content-between gap-5">
          <div class="flex flex-column gap-1">
            <span class="text-secondary text-sm">{{ meterItem.label }}</span>
            <span class="font-bold text-lg">{{ meterItem.value }}%</span>
          </div>
          <span
            class="w-2rem h-2rem border-circle inline-flex justify-content-center align-items-center text-center"
            [style]="{
              'background-color': meterItem.color1,
              color: '#ffffff'
            }"
          >
            <i [class]="meterItem.icon"></i>
          </span>
        </div>
      </p-card> -->

      <div
        class="card shadow-2 relative h-8rem border-round-xl p-3 align-items-center"
        style="margin-bottom: 0"
      >
        <!-- <p-card class="flex-1"> -->
        <div class="font-semibold text-lg mt-2">
          {{ meterItem?.label }}
        </div>
        <div class="flex justify-content-between">
          <div class="flex justify-content-between align-items-center">
            <div
              class="flex justify-content-center align-items-center h-2rem w-5rem border-round p-2 mr-3"
              [style.background-color]="meterItem?.bgPercent"
              [style.box-shadow]="meterItem?.bgPercentshadow"
            >
              <i style="color: white" class="{{ meterItem?.icon }} w-2rem"></i
              ><span class="line-height-2" style="color: white"
                >{{ meterItem?.percent }}%</span
              >
            </div>
            <div class="line-height-4 text-4xl">{{ meterItem.value }}</div>
          </div>
        </div>
        <img
          [src]="meterItem?.image"
          class="absolute image-chart"
          style="bottom: 30px; right: 12px"
        />
        <!-- </p-card> -->
      </div>
    </div>
  </ng-container>
</div>
